.faq-header {
  height: 80px;
  position: relative;
}
.faq-header img {
  left: 96px;
  position: absolute;
  top: 25px;
  width: 128px;
}

.faq-heading {
  display: flex;
  font-family: din-round-bold;
  font-size: 32px;
  justify-content: center;
  line-height: 40px;
  margin: 48px 0;
  text-align: center;
  color: rgb(var(--color-black-text));
}
.faq-container {
  margin: 24px 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-group {
  border: 2px solid rgb(var(--color-swan));
  border-radius: 16px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 48px;
}

.faq-group .item{
    border-bottom: 2px solid rgb(var(--color-swan));
    color: rgb(var(--color-black-text));
    font-weight: 500;
    font-size: 19px;
    font-family: din-round;
}
.faq-group .item:last-child{
    border: none;
}
.faq-group img{
    transition: transform 0.2s ease;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 26px 32px;
}
.rotate{
    transform:scaleY(-1)
}
.faq-group .heading{
  color: rgb(var(--color-macaw));
  font-family: din-round-bold;
  font-weight: 700;
  font-size: 19px;
}
.bold{
    font-family: din-round-bold!important;
}
.hidden{
    display: none!important;
}
.answer{
    padding: 0 26px 32px 26px;
    display: block;
}