.leftHead{
    background-color: rgb(var(--color-juicy-blue-space-light));
    position: fixed;
    width: 100%;
    z-index: 2;
}
.flags{
    margin-bottom: 50px;
}
.leftDuoHead{
    height: 36px;
    width: 153px;
}
.divInMain{
    padding: 20px;
    max-width: 1065px;
    
}
.leftHeadImage{
    float: left;
    margin-top: 18px
}
.dropdown{
    align-items: center;
    display: flex;
    float: right;
    height: 70px;
    margin-right: -10px;
}
.dropdownImage{
    height: 14px;
    margin-left: 8px;
    width: 14px;
}
.siteLan{
    box-sizing: inherit;
    font-family: din-round,sans-serif;
    color: rgb(var(--color-snow-always-light));
}
.dropdownButton{
    display: flex;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    background: none;
    border: none;
    padding: 0;
    transition: filter .2s;
    margin-right: 10px;
}
.bluePicture{
    background-color: rgb(var(--color-juicy-blue-space-light));
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/4986531ca822d48e57b4a18f40ff5172.svg);
    position: relative;
    padding: 40px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    min-height: 80vh;
}
.hoverTable{
    font-family: 'din-round-bold';
    border: 1px solid #c5c3c3;
    /* margin-top: 3px; */
    margin-left: -170px;
    width: 360px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
}
#hoverTable{
    display: none;
}
.dropAndNav{
    display: flex;
    position: relative;
}
.site-language-unordered-list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.site-language-list-single {
    align-items: center;
    color: rgb(var(--color-wolf));
    display: flex;
    font-size: 15px;
    font-weight: 500;
    height: 42px;
    padding: 0 20px;
    white-space: nowrap;
    background-color:white;
    border-radius: 15px;
}
.site-language-list-single:hover{
    background-color: rgb(207, 207, 207);
}
.country-name-flag-language {
    align-items: center;
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
.country-flag-language-selection {
    border: 2px solid white;
    border-radius: 6px;
    height: 19.31px;
    width: 24px;
}
.earthFlag{
    display: flex;
    padding: 10px;
    text-align: center;

}
.earth{
    max-height: 192px;
    text-align: center;
    padding: 40px;
    position: relative;
}
#lessonflag{
    position: absolute;
    bottom: -20%;
    right: 20%;
}


.picEarth{
    background-size: 192px;
    height: 192px;
    min-width: 192px;
    width: 192px
    
}
._2eTYC{
background: url(https://d35aaqx5ub95lt.cloudfront.net/images/331a32943ff73be28537dfc7469d5639.svg);
background-size: 360px;
height: 360px;
min-width: 360px;
width: 360px;
}

.EZsOD {
    
    bottom: 121px;
    left: 94px;
    position: relative;
}
.paraHeading{
    margin: auto 48px;
    width: 60%;
    text-align: center;
}
.heading{
    text-align: center;
    margin-bottom: 24px;
    color: rgb(var(--color-snow-always-light));
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 50px ;
    font-family: din-round,sans-serif;
    font-weight: 700;
}
.learningButton{
    margin-top: 15px;
    height: 50px;
    padding: 16px;
    min-width: 320px;
    font-size: 15px;
    font-family: 'din-round-bold';
    border-radius: 16px;
    border:2px solid rgb(var(--color-owl-always-light));
    color: rgb(var(--color-snow));
    background-color:rgb(var(--color-owl-always-light));
    box-shadow: 0 4px 0 rgb(var(--color-tree-frog-always-light));
    letter-spacing: 0.8px;
    filter: brightness(1);
    
}

  
  .learningButton:hover {
    /* Change brightness on hover */
    filter: brightness(1.2); /* Adjust the value as needed */
  }
.loginButtonText{
    text-transform: uppercase;
}
.learningaButtonText{
    text-transform: uppercase;
}
.accountButton{
    margin-top: 15px;
    height: 50px;
    padding: 16px;
    min-width: 320px;
    font-size: 15px;
    font-family: 'din-round-bold';
    border-radius: 16px;
    border:2px solid rgb(var(--color-manta-ray));
    color: rgb(var(--color-snow));
    background-color:rgb(var(--color-juicy-blue-space-light));
    box-shadow: 0 4px 0 rgb(var(--color-manta-ray));
    letter-spacing: 0.8px;
}
.accountButton:hover {
    filter:brightness(0.9);
}
.buttonContainer{
    display: flex;
    align-items: inherit;
    margin-right: -100px;
}
#list{
    display:hidden;
    background-color: white;
}
.country-flag{
    height: 28.9756px;
    width: 36px;
}
.getStartedButton{
    height: 44px;
    padding: 16px;
    font-size: 15px;
    display:inline-flex;
    font-family: 'din-round-bold';
    border-radius: 16px;
    border:2px solid rgb(var(--color-owl-always-light));
    color: rgb(var(--color-snow));
    background-color:rgb(var(--color-owl-always-light));
    box-shadow: 0 4px 0 rgb(var(--color-tree-frog-always-light));
    letter-spacing: 0.8px;
    filter: brightness(1);
    margin-right: 10px;
    align-items: center !important;
    justify-content: center;
}
#scrollNow{
    display: none;
}

.logInButton{
    height: 44px;
    padding: 20px;
    font-size: 15px;
    display: flex;
    font-family: 'din-round-bold';
    border-radius: 16px;
    border:2px solid;
    color: rgb(var(--color-blue-space));
    border-color: rgb(var(--color-snow-always-light),0.5);
    background-color: rgb(var(--color-snow-always-light));
    box-shadow: 0 4px 0 rgb(var(--color-snow-always-light),0.5);
    letter-spacing: 0.8px;
    filter: brightness(1);
    align-items: center !important;
    justify-content: center;
    
}
#logInButtonScroll{
    display:none;
}
.divForStartedButton{
    position: relative;
    text-align: center;
}

.divInSecondDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}
.owlPic{
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/776364e6419216ffd84ddf8d8815711b.svg); 
    background-position: 50%;
    height: 145px;
    min-width: 160px;
    background-size: contain;
    margin-right: 48px;
}
.secondDiv{
    margin-top: 12px;
    background-color: rgb(var(--color-snow-always-light));
}
.secDivHeading{
    color: rgb(var(--color-black-text-always-light));
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 25px;
    font-weight: 700;
    font-family: din-round,sans-serif;
}
.para{
    color: rgb(var(--color-wolf-always-light));
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 24px;
    text-align: left;
    font-family: din-round,sans-serif;
}
.reference{
    font-weight: 700;
    text-decoration: underline;
    color: rgb(var(--color-wolf-always-light));
    font-family: din-round,sans-serif;
}
.horiLine{
    border-bottom: 2px solid rgb(var(--color-swan-always-light));
    margin: 12px auto;
}
.thirdDiv{
    font-family: din-round,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 40px ;
}
.divThreeHead{
    color: rgb(var(--color-black-text-always-light));
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 25px;
    font-weight: 700;
}
.flx{
    display: flex;
}
.leftDiv{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 48px;
}
.eachSection {
    display: flex;
}

.eachicon {
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/1994201dce8a55a0017d59b58a035fc3.svg);
    background-repeat: no-repeat;
    background-size: 43px;
    display: inline-block;
    height: 43px;
    margin-top: -7px;
    min-width: 43px;
}
.eachsecParagraph {
    display: flex;
    flex-direction: column;
    padding: 5px 0 18px 15px;
    text-align: left;
}
.secparaheading{
    color: rgb(var(--color-black-text-always-light));
    margin: 0 0 10px;
    font-size: 19px;
    font-weight: 700;
}
.secparacontent {
    color: rgb(var(--color-wolf-always-light));
    font-size: 14px;
    line-height: 1.7;
}
._3o6kp {
    color: rgb(var(--color-macaw-always-light));
    font-weight: 700;
}

.tick {
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/8f1e99a540ab7afcf5915e8852024e4c.svg);
    background-repeat: no-repeat;
    background-size: 43px;
    display: inline-block;
    height: 43px;
    margin-top: -7px;
    min-width: 43px;
}
.centerImage{
    background: url(https://d35aaqx5ub95lt.cloudfront.net/images/3816ddfd0658efd7bb713fd823053b82.svg);
    background-size: 245px;
    height: 161px;
    margin: auto 48px;
    min-width: 245px;
    width: 245px;
}
.crown {
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/splash/ebdcc22deaf0f85388fcb09e7ecfbe78.svg);
    background-repeat: no-repeat;
    background-size: 43px;
    display: inline-block;
    height: 43px;
    margin-top: -7px;
    min-width: 43px;
}
.girl {
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/splash/a4d5fab3d1926c240cb2ae696b07d156.svg);
    background-repeat: no-repeat;
    background-size: 43px;
    display: inline-block;
    height: 43px;
    margin-top: -7px;
    min-width: 43px;
}
.blueOwl{
    font-family: din-round,sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 40px;
    max-width: 1065px;
}
.owl {
    height: 180px;
    min-width: 185px;
    margin-right: 48px;
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 0;
}
.owlHead {
    color: rgb(var(--color-black-text-always-light));
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 25px;
    font-weight: 700;
}
._1DaKS {
    flex-grow: 1;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 24px;
    text-align: left;
    color: rgb(var(--color-wolf-always-light));
}
.superDuoLink {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: rgb(var(--color-macaw));
    text-decoration: none;
}
.bagOwl{
    font-family: din-round,sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 40px;
    max-width: 1065px;
}
.bagOwlimg{
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/791b23bc8994589efad21ce964d99161.svg);
    height: 220px;
    min-width: 167px;
    margin-left: 48px;
    background-size: contain;
}
.secthreehead {
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 25px;
    color: rgb(var(--color-black-text-always-light));
    font-weight: 700;
}
._1DaKS {
    flex-grow: 1;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 24px;
    text-align: left;
    color: rgb(var(--color-wolf-always-light));
}
._3dFuc {
    margin-bottom: -12px;
}
.appStoreButton {
    height: auto;
    padding: 12px 16px;
    grid-gap: 12px;
    margin: 0 12px 12px 0;
    min-width: 160px;
    background-color: rgb(var(--color-snow-always-light));
    border-color: rgb(var(--color-swan));
    color: rgb(var(--color-eel-always-light));
    border: solid rgb(var(--color-swan));
    border-radius: 16px;
    border-width: 2px 2px 4px;
    display: inline-flex;
    text-decoration: none;
    text-align: center;
}
._1sq2h {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.4;
    text-transform: none;
}
.apple{
    align-self: start;
    height: 34px;
    width: 34px;
    display: inline-block;
}
._1sq2h>span {
    display: grid;
}
.subtext{
    font-size: 13px;
}
.appleImg{
    align-self: start;
    height: 34px;
    width: 34px;
    display: inline-block;
}
.playStoreImage{
    align-self: start;
    height: 34px;
    width: 34px;
    display: inline-block;
}

.secLastDiv{
    font-family: din-round,sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 40px;

}
.computerImg{
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/af5bf404fb8ea1ff96fdc9247a1e36e0.svg);
    height: 180px;
    min-width: 276px;
    margin-right: 48px;
}

.computerHead{
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 25px;
    color: rgb(var(--color-black-text-always-light));
    font-weight: 700;
}
.computerPara{
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 24px;
    text-align: left;
    color: rgb(var(--color-wolf-always-light));
}
.computerRef{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: rgb(var(--color-macaw));
    text-decoration: none;
}
.lastDiv{
    font-family: din-round,sans-serif;
    color: rgb(var(--color-snow-always-light));
    padding-top: 80px;
    text-align: center;
    background-color: rgb(var(--color-juicy-blue-space-light));
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/4986531ca822d48e57b4a18f40ff5172.svg);
}
.divInLastDiv {
    margin: 0 auto;
    max-width: 1140px;
    min-height: 70px;
}
.containList {
    color: rgb(var(--color-snow-always-light));
    font-size: 13px;
    text-align: left;
}
._1KUWD {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1065px;
    padding: 24px 40px;
}
.headings {
    padding: 0 24px 48px 0;
    width: 170px;
    
}
.mainHeading {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: none;
}
.containList li {
    padding: 5px 0;
    list-style: none;
    list-style-position: outside;
}
.containList a {
    color: rgb(var(--color-snow-always-light));
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    opacity: .5;
    text-decoration: none;
    
}
._3CeMJ {
    border-top: 2px solid rgb(var(--color-snow-always-light),.2);
    color: rgb(var(--color-snow-always-light));
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 40px;
    margin: 0 auto;
    max-width: 1065px;
    padding: 24px 40px 48px;
    text-align: left;
    flex-direction: row;
}
ul{
    text-align: left;
    padding-left: inherit;
}
.language {
    border-top: 2px solid rgb(var(--color-snow-always-light),.2);
    color: rgb(var(--color-snow-always-light));
    display: flex;
    flex-direction: row;
    font-size: 13px;
    gap: 40px;
    margin: 0 auto;
    max-width: 1065px;
    padding: 24px 40px 48px;
    text-align: left;
}
.languageHeading {
    font-size: 15px;
    font-weight: 700;
    margin: 6px 0;
    text-transform: none;
}
.owlFace {
    align-self: start;
    height: 64px;
    width: 64px;
    align-self: end;
}
.languages {
    display: inline-block;
    font-weight: 700;
    opacity: .5;
    padding-right: 24px;
    padding-top: 6px;
}
.singleLang {
    color: rgb(var(--color-snow-always-light));
    text-decoration: none;
}






