.sidebar {
    background-color: rgb(var(--color-snow));
    border-right: 2px solid rgb(var(--color-swan));
    box-sizing: border-box;
    color: rgb(var(--color-hare));
    font-family: din-round;
    height: 100vh;
    width: 256px;
    overflow-y: auto;
    padding: 0 16px;
    scrollbar-width: none;
    top: var(--web-ui_topbar-top, 0);
    user-select: none;
    left: 0;
    position: fixed !important;
    z-index: 1;
  }
  
  .main-container {
    padding-left: 256px;
  }
  
  .logo-container {
    height: 30px;
    padding: 32px 0 30px 16px;
  }
  .logo-container img {
    height: 30px;
  }
  .sidebar-buttons {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .button-in-sidebar {
    text-decoration: none;
    color: rgb(var(--color-wolf));
    font-family: din-round-bold;
    font-size: 15px;
    letter-spacing: 0.8px;
    border-radius: 12px;
    text-transform: uppercase;
  }
  .icon-and-text-wrap {
    height: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    padding: 4px 8px;
    border: 2px solid transparent;
  }
  .button-in-sidebar:hover {
    background-color: rgb(var(--color-polar));
  }
  .selected {
    background-color: rgb(var(--color-iguana));
    border: 2px solid rgb(var(--color-blue-jay));
  }
  .icon-in-button {
    display: flex;
    position: relative;
    margin-right: 20px;
  }
  
  .icon-in-button img {
    width: 32px;
    height: 32px;
  }
  .profile {
    border-radius: 50%;
  }
  .content-container {
    padding-left: 24px;
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;
    margin-right: 368px;
  }
  .right-sidebar {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: fixed;
    padding-right: 12px;
    padding-top: 12px;
    right: 0;
    height: 100vh;
    width: 368px;
  }
  
  .right-sidebar-header {
    height: 44px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    z-index: 2;
    gap: 10px;
  }
  .heart-text {
    color: rgb(var(--color-cardinal));
  }
  .gem-text {
    color: rgb(var(--color-macaw));
  }
  .fire-text {
    color: rgb(var(--color-fox));
  }
  .try-super-box {
    background: rgb(var(--color-snow));
    border: 2px solid rgb(var(--color-swan));
    border-radius: 16px;
    padding: 18px;
    position: relative;
    margin-bottom: 24px;
  }
  .try-super-box h2 {
    color: rgb(var(--color-eel));
    margin: 8px 0;
    font-family: din-round-bold;
    font-size: 19px;
    line-height: 21px;
  }
  
  .try-super-box .description {
    margin: 8px 0 24px;
    width: calc(100% - 83px);
    color: rgb(var(--color-wolf));
    font-size: 17px;
    font-family: din-round;
    line-height: 25px;
  }
  
  .try-super-box button {
    width: 100%;
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-family: "din-round-bold";
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border: 1px solid rgb(var(--color-nebula));
    border-radius: 16px;
    background-color: rgb(var(--color-cosmos));
    color: rgb(var(--color-snow-always-light));
    box-shadow: rgb(var(--color-nebula)) 0 4px 0;
    transition: box-shadow translate 0.2s ease;
  }
  
  #try-super-image-one {
    width: 78px;
  }
  
  #try-super-image-two {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 98px;
  }
  
  .right-sidebar-header .icon-in-button {
    margin-right: 5px;
  }
  
  .league-header-with-link {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }
  .league-header-with-link img {
    margin-right: 40px;
    height: 63px;
    margin-top: 8px;
  }
  
  .league-text-container .description {
    width: calc(100% - 10px);
    margin: 0;
  }
  .league-text-container h2 {
    font-size: 17px;
    letter-spacing: 0.8px;
  }
  
  .league-header-with-link a {
    text-decoration: none;
    color: rgb(var(--color-macaw));
    font-size: 15px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  
  .clicked {
    box-shadow: none !important;
    translate: 0 3px;
  }
  
  /* Here starts the middle section specific css  */
  
  .scrollable-lesson-div {
    width: 95%;
    position: relative;
    padding-right: 5%;
    padding-top: 24px;
  }
  .section-name-header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border-bottom: 2px solid rgb(var(--color-swan));
  }
  .section-name-header a {
    position: absolute;
    left: 0;
  }
  .section-name-header h2 {
    color: rgb(var(--color-hare));
    font-size: 19px;
    font-family: din-round-bold;
    line-height: 26.6px;
  }
  .unit {
    background-size: 100% 100%;
    border-radius: 13px;
    padding: 22px 16px;
    row-gap: 6px;
    align-items: center;
    column-gap: 16px;
    display: grid;
    grid-auto-columns: 1fr min-content;
    overflow: hidden;
    position: relative;
    z-index: -1;
    margin-bottom: 80px;
  }
  .unit-colorful {
    background: var(--shine-background-color, var(--path-unit-background-color));
    color: var(--path-unit-foreground-color);
  }
  .unit-unfinished {
    background: rgb(var(--color-peacock));
    color: rgb(var(--color-snow));
  }
  .unit h1 {
    font-family: din-round-bold;
    margin: 0px;
  }
  .unit .unit-description {
    font-family: din-round;
    font-size: 19px;
  }
  
  section {
    margin-top: 14px;
  }
  .alignment-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }
  .circle_box {
    position: relative;
    width: 70px;
    z-index: 0;
  }
  .lesson-button {
    height: 65px;
    width: 70px;
    border: none;
    border-radius: 50%/50%;
    z-index: 0;
    background: rgb(var(--color-owl));
    box-shadow: 0 5px 0 rgb(var(--color-black), 0.2),
      0 5px 0 rgb(var(--color-owl));
  }
  .lesson-button:hover {
    background: rgb(var(--color-owl), 0.8);
    cursor: pointer;
  }
  .star-image {
    height: 34px;
    left: 14px;
    position: absolute;
    top: 11.5px;
    width: 42px;
  }
  circle-progress {
    position: absolute;
    scale: 0.95;
    bottom: -35%;
    right: -20%;
    z-index: 0;
  }
  
  circle-progress::part(value) {
    stroke-linecap: round;
    stroke: rgb(var(--color-owl));
  }
  
  .floating-start-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -50px;
    left: -5px;
    animation: upAndDown 2s ease-in-out infinite;
  }
  .floating-start-box-bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    bottom: -300%;
    z-index: 2;
    transform: translateX(-50%);
  }
  .floating-start-box .text {
    background-color: rgb(var(--color-owl));
    color: rgb(var(--color-swan));
    font-family: din-round-bold;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    border: 2px solid rgb(var(--color-swan));
    border-radius: 10px;
  }
  .triangle {
    width: 8px;
    height: 8px;
    background-color: rgb(var(--color-owl));
    color: rgb(var(--color-snow-always-light));
    border-bottom: 2px solid rgb(var(--color-swan));
    border-right: 2px solid rgb(var(--color-swan));
    transform: rotate(45deg) translateX(-4px) translateY(-4px);
  }
  .triangle-top {
    width: 16px;
    height: 16px;
    background-color: rgb(var(--color-owl));
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  .floating-start-box-bottom .text-container {
    background-color: rgb(var(--color-owl));
    color: rgb(var(--color-swan));
    font-family: din-round-bold;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.03em;
    width: 300px;
    line-height: 1;
    padding: 12px;
    display: inline-block;
    z-index: 2;
    text-align: left;
    white-space: nowrap;
    border-radius: 10px;
  }
  .floating-start-box-bottom .text-container h1 {
    line-height: 26.6px;
    font-size: 19px;
    margin: 0;
  }
  .floating-start-box-bottom .text-container p {
    font-size: 17px;
    line-height: 26.6px;
    font-family: din-round;
    margin: 0;
  }
  .floating-start-box-bottom .text-container button {
    padding: 0 16px;
    font-size: 15px;
    height: 50px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-family: "din-round-bold";
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border: none;
    width: 100%;
    color: rgb(var(--color-owl));
    background-color: rgb(var(--color-snow));
    border-radius: 16px;
    box-shadow: 0 4px 0 rgb(var(--color-snow), 0.6);
  }
  .hidden {
    display: none;
  }
  .locked .text-container {
    background-color: rgb(var(--color-polar));
    color: rgb(var(--color-hare));
    border: 2px solid rgb(var(--color-swan));
  }
  
  .locked .triangle-top {
    background-color: rgb(var(--color-polar));
    border-top: 2px solid rgb(var(--color-swan));
    border-left: 2px solid rgb(var(--color-swan));
    z-index: 3;
  }
  .locked .text-container button {
    background-color: rgb(var(--color-swan));
    color: rgb(var(--color-hare));
  }
  .locked button {
    background: rgb(var(--color-swan));
    box-shadow: 0 5px 0 rgb(var(--color-black), 0.2),
      0 5px 0 rgb(var(--color-swan));
  }
  .locked button:hover {
    background: rgb(var(--color-swan));
  }
  
  @keyframes upAndDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .completed .text-container {
    background-color: rgb(var(--color-bee));
    color: rgb(var(--color-guinea-pig-always-light));
  }
  
  .completed .triangle-top {
    background-color: rgb(var(--color-bee));
    z-index: 3;
  }
  .completed .text-container button {
    background-color: rgb(var(--color-swan));
    color: rgb(var(--color-bee));
  }
  .completed button {
    background: rgb(var(--color-bee));
    box-shadow: 0 5px 0 rgb(var(--color-guinea-pig-always-light), 0.5),
      0 5px 0 rgb(var(--color-bee));
  }
  .completed button:hover {
    background: rgb(var(--color-bee), 0.8);
  }
  .star-image.bg {
    translate: -4px -6px;
    width: 55px;
    height: 55px;
  }
  
  .top-stats-mobile {
    display: none;
  }
  
  @media (max-width: 1024px) {
    .right-sidebar {
      display: none;
    }
    .top-stats-mobile {
      display: flex;
    }
    .content-container {
      margin-right: 0;
    }
  }
  .unit-placing-div {
    padding: 0 15px;
  }
  .sticky {
    position: sticky;
    width: 100%;
    background: rgb(var(--color-snow));
    top: 0;
    padding: 15px 15px 0 15px;
    z-index: 10;
    box-sizing: border-box;
  }
  .bottom-nav{
    display: none;
  }
  @media (max-width: 650px) {
    .sidebar {
      display: none;
    }
    .content-container {
      padding: 0;
    }
    .scrollable-lesson-div {
      padding: 0;
      width: 100%;
    }
    .sticky {
      background: rgb(var(--color-peacock));
    }
    .section-name-header {
      border-bottom: none;
    }
    .section-name-header h2 {
      color: rgb(var(--color-snow));
    }
    .section-name-header img:nth-child(2){
      display: none;
    }
    .main-container {
      padding-left: 0;
    }
  
    .button-in-sidebar:hover {
      background-color: rgb(var(--color-snow), 0.2);
    }
  
    .text-in-button {
      color: rgb(var(--color-snow));
    }
  
    .sidebar-buttons {
      position: sticky;
      bottom: 0;
      background-color: rgb(var(--color-snow));
      border-top: 2px solid rgb(var(--color-swan));
      padding: 15px;
      margin-top: 10px;
      flex-direction: row;
      justify-content: space-between;
    }
    .section-name-header img:first-child{
      display: none;
    }
    .section-name-header img:nth-child(2){
      display: block;
    }
    .icon-in-button {
      margin: 0px;
    }
  
    .bottom-nav{
      display: flex;
    }
  }
.center-container{
    margin: -24px auto auto;
    max-height: -moz-max-content;
    max-height: max-content;
    max-width: 592px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
    text-align: center;
    width: 100%;
}  
.center-container-firstdiv{
    /* max-width: 592px; */
    padding-top: 24px;
    background: rgb(var(--color-snow));
    position: sticky;
    top:0;
    z-index: 1;

}
.medaldiv{
    display: flex;
    height: 91px;
    margin-top: 24px;
    overflow: hidden;
    position: relative;
    margin-top: 0;
}

.leaguename{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 24px;
}
.message{
    color: rgb(var(--color-wolf));
    font-size: 19px;
    margin-bottom: 5px;
    padding: 0 12px;
}
.diffmedals {
    display: flex;
    height: 91px;
    margin-top: 24px;
    overflow: hidden;
    position: relative;
    margin-top: 0;
}
.medalsdiv {
    align-items: center;
    bottom: 0;
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(11,min-content);
    justify-content: space-between;
    left: calc(50% - 40px - var(--offset)*80px);
    position: absolute;
    top: 0;
}
.medalsdiv {
    height: 58px;
    width: 52px;
}
.medaldiv {
    height: 91px;
    width: 89px;
}
._250dJ {
  font-family: 'din-round-bold';
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 24px;
}
._2Xv_D {
  font-family: 'din-round-bold';
    color: rgb(var(--color-wolf));
    font-size: 19px;
    margin-bottom: 5px;
    padding: 0 12px;
}
._20QqV {
    align-items: center;
    height: 26px;
    margin-bottom: 16px;
}
._29Ox2 {
    font-weight: 700;
}
.YSucH {
    color: rgb(var(--color-bee));
}
.centre-container-secdiv{
  font-family: 'din-round-bold';
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;
        overflow: hidden;
        padding-bottom: 2px;
        position: relative;
      
    
}

.eachprofile{
    align-items: center;
    color: inherit;
    display: flex;
    padding: 20px 24px 8px 16px;
    border-radius: 16px;
    border-color: black;
}

.eachprofile.highlightBorder {
  border-color: red;
}
.divforimg{
    flex-shrink: 0;
    height: 48px;
    margin: 0 28px 0 12px;
    position: relative;
    width: 48px;
  }

.image{
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 0;
  height: 48px;
  width: 48px;
}
.divforname{
  font-family: 'din-round-bold';
  align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
    text-align: left;
    overflow: hidden;
}
.spanforname{
  font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.spanforxp{
  color: rgb(var(--color-wolf));
    flex-shrink: 0;
    margin-right: 10px;
    text-align: right;
}
.divprofileheader{
  align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px!important;
}
.headprofile{
  color: rgb(var(--color-eel));
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0;
}

.divprofile{
  display: grid;
    gap: 10px;
    grid-template-rows: auto;
}
.divforpic{
  left: calc(50% - 40px);
    margin-bottom: 22px;
    position: relative;
    width: -moz-min-content;
    width: min-content;
}
.picture{
  height: 80px;
    width: 80px;
    border-radius: 50px;
}

._1V6a- {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(6, 1fr);
}
._3eRjX {
  height: 48px;
  padding: 0;
  border-radius: 12px;
  width: 48px;
  background-color: rgb(var(--color-owl));
}
.kC7Wi {
  height: 100%;
  width: 100%;
}
._2WS1S {
  background-color: rgb(var(--color-snow-always-light));
  border: 2px solid rgb(var(--color-swan));
  border-radius: 50% 50% 50% 16%;
  height: 28px;
  position: absolute;
  right: -16px;
  top: -6px;
  transition: opacity .25s;
  width: 28px;
}
.fte9h {
  height: 36px;
  width: 36px;
  position: absolute;
    right: 3px;
    top: 3px;
}
._28T-y {
  height: 46px;
  left: 66px;
  top: -12px;
  width: 46px;
}
.eachprofile:hover{
  background-color:rgba(127, 127, 127, 0.17);
}
.indimage{
  height: 42px;
    width: 41px;
}
.profindex{
  height: 18px;
    width: 41px;
}
.divforbubble{
  background-color: rgb(var(--color-snow-always-light));
    border: 2px solid rgb(var(--color-swan));
    border-radius: 50% 50% 50% 16%;
    height: 28px;
    position: absolute;
    right:0;
    top: 2px;
    translate: 50% -50%;
    transition: opacity .25s;
    width: 28px;
    z-index: 0;
}
.bubble{
  position: absolute;
    right: 1px;
    top: 1px;
    height: 26px;
    width: 26px;
}