.sidebar {
  background-color: rgb(var(--color-snow));
  border-right: 2px solid rgb(var(--color-swan));
  box-sizing: border-box;
  color: rgb(var(--color-hare));
  font-family: din-round;
  height: 100vh;
  width: 256px;
  overflow-y: auto;
  padding: 0 16px;
  scrollbar-width: none;
  top: var(--web-ui_topbar-top, 0);
  user-select: none;
  left: 0;
  position: fixed !important;
  z-index: 1;
}

.main-container {
  padding-left: 256px;
}

.logo-container {
  height: 30px;
  padding: 32px 0 30px 16px;
}
.logo-container img {
  height: 30px;
}
.sidebar-buttons {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.button-in-sidebar {
  text-decoration: none;
  color: rgb(var(--color-wolf));
  font-family: din-round-bold;
  font-size: 15px;
  letter-spacing: 0.8px;
  border-radius: 12px;
  text-transform: uppercase;
}
.icon-and-text-wrap {
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  padding: 4px 8px;
  border: 2px solid transparent;
}
.button-in-sidebar:hover {
  background-color: rgb(var(--color-polar));
}
.selected {
  background-color: rgb(var(--color-iguana));
  border: 2px solid rgb(var(--color-blue-jay));
}
.icon-in-button {
  display: flex;
  position: relative;
  margin-right: 20px;
}

.icon-in-button img {
  width: 32px;
  height: 32px;
}
.profile {
  border-radius: 50%;
}
.content-container {
  padding-left: 24px;
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  margin-right: 368px;
}
.right-sidebar {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: fixed;
  padding-right: 12px;
  padding-top: 12px;
  right: 0;
  height: 100vh;
  width: 368px;
}

.right-sidebar-header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  z-index: 2;
  gap: 10px;
}
.heart-text {
  color: rgb(var(--color-cardinal));
}
.gem-text {
  color: rgb(var(--color-macaw));
}
.fire-text {
  color: rgb(var(--color-bee));
}
.try-super-box {
  background: rgb(var(--color-snow));
  border: 2px solid rgb(var(--color-swan));
  border-radius: 16px;
  padding: 18px;
  position: relative;
  margin-bottom: 24px;
}
.try-super-box h2 {
  color: rgb(var(--color-eel));
  margin: 8px 0;
  font-family: din-round-bold;
  font-size: 19px;
  line-height: 21px;
}

.try-super-box .description {
  margin: 8px 0 24px;
  width: calc(100% - 83px);
  color: rgb(var(--color-wolf));
  font-size: 17px;
  font-family: din-round;
  line-height: 25px;
}

.try-super-box button {
  width: 100%;
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-family: "din-round-bold";
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border: 1px solid rgb(var(--color-nebula));
  border-radius: 16px;
  background-color: rgb(var(--color-cosmos));
  color: rgb(var(--color-snow-always-light));
  box-shadow: rgb(var(--color-nebula)) 0 4px 0;
  cursor:pointer;
  transition: box-shadow translate 0.2s ease;
}

#try-super-image-one {
  width: 78px;
}

#try-super-image-two {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 98px;
}

.right-sidebar-header .icon-in-button {
  margin-right: 5px;
}

.league-header-with-link {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.league-header-with-link img {
  margin-right: 40px;
  height: 63px;
  margin-top: 8px;
}

.league-text-container .description {
  width: calc(100% - 10px);
  margin: 0;
}
.league-text-container h2 {
  font-size: 17px;
  letter-spacing: 0.8px;
}

.league-header-with-link a {
  text-decoration: none;
  color: rgb(var(--color-macaw));
  font-size: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.clicked {
  box-shadow: none !important;
  translate: 0 3px;
}

/* Here starts the middle section specific css  */

.scrollable-lesson-div {
  width: 95%;
  position: relative;
  padding-right: 5%;
  padding-top: 24px;
}
.section-name-header {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  border-bottom: 2px solid rgb(var(--color-swan));
}
.section-name-header .arrow {
  position: absolute;
  left: 0;
}
.arrow img{
  cursor: pointer;
}
.section-name-header h2 {
  color: rgb(var(--color-hare));
  font-size: 19px;
  font-family: din-round-bold;
  line-height: 26.6px;
}
.unit {
  background-size: 100% 100%;
  border-radius: 13px;
  padding: 22px 16px;
  row-gap: 6px;
  align-items: center;
  column-gap: 16px;
  display: grid;
  grid-auto-columns: 1fr min-content;
  overflow: hidden;
  position: relative;
  z-index: -1;
  margin-bottom: 80px;
}
.unit-colorful {
  background: var(--shine-background-color, var(--path-unit-background-color));
  color: var(--path-unit-foreground-color);
}
.unit-unfinished {
  background: rgb(var(--color-peacock));
  color: rgb(var(--color-snow));
}
.unit h1 {
  font-family: din-round-bold;
  margin: 0px;
}
.unit .unit-description {
  font-family: din-round;
  font-size: 19px;
}

section {
  margin-top: 14px;
}
.alignment-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}
.circle_box {
  position: relative;
  width: 70px;
  z-index: 0;
}
.lesson-button {
  height: 65px;
  width: 70px;
  border: none;
  border-radius: 50%/50%;
  z-index: 0;
  background: rgb(var(--color-owl));
  box-shadow: 0 5px 0 rgb(var(--color-black), 0.2),
    0 5px 0 rgb(var(--color-owl));
}
.lesson-button:hover {
  background: rgb(var(--color-owl), 0.8);
  cursor: pointer;
}
.star-image {
  height: 34px;
  left: 14px;
  position: absolute;
  top: 11.5px;
  width: 42px;
}
circle-progress {
  position: absolute;
  scale: 0.95;
  bottom: -35%;
  right: -20%;
  z-index: 0;
}

circle-progress::part(value) {
  stroke-linecap: round;
  stroke: rgb(var(--color-owl));
}

.floating-start-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -50px;
  left: -5px;
  animation: upAndDown 2s ease-in-out infinite;
}
.floating-start-box-bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  bottom: -300%;
  z-index: 2;
  /* translate:-50% 0; */
}
.floating-start-box .text {
  background-color: rgb(var(--color-owl));
  color: rgb(var(--color-swan));
  font-family: din-round-bold;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  border: 2px solid rgb(var(--color-swan));
  border-radius: 10px;
}
.triangle {
  width: 8px;
  height: 8px;
  background-color: rgb(var(--color-owl));
  color: rgb(var(--color-snow-always-light));
  border-bottom: 2px solid rgb(var(--color-swan));
  border-right: 2px solid rgb(var(--color-swan));
  transform: rotate(45deg) translateX(-4px) translateY(-4px);
}
.triangle-top {
  width: 16px;
  height: 16px;
  background-color: rgb(var(--color-owl));
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.floating-start-box-bottom .text-container {
  background-color: rgb(var(--color-owl));
  color: rgb(var(--color-swan));
  font-family: din-round-bold;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.03em;
  width: 300px;
  line-height: 1;
  padding: 12px;
  display: inline-block;
  z-index: 2;
  text-align: left;
  white-space: nowrap;
  border-radius: 10px;
}
.floating-start-box-bottom .text-container h1 {
  line-height: 26.6px;
  font-size: 19px;
  margin: 0;
}
.floating-start-box-bottom .text-container p {
  font-size: 17px;
  line-height: 26.6px;
  font-family: din-round;
  margin: 0;
}
.floating-start-box-bottom .text-container button {
  padding: 0 16px;
  font-size: 15px;
  height: 50px;
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: "din-round-bold";
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  color: rgb(var(--color-owl));
  background-color: rgb(var(--color-snow));
  border-radius: 16px;
  box-shadow: 0 4px 0 rgb(var(--color-snow), 0.6);
}
.floating-start-box-bottom .text-container button:hover{
  filter: brightness(0.9);
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.locked .text-container {
  background-color: rgb(var(--color-polar));
  color: rgb(var(--color-hare));
  border: 2px solid rgb(var(--color-swan));
}

.locked .triangle-top {
  background-color: rgb(var(--color-polar));
  border-top: 2px solid rgb(var(--color-swan));
  border-left: 2px solid rgb(var(--color-swan));
  z-index: 3;
}
.locked .text-container button {
  background-color: rgb(var(--color-swan));
  color: rgb(var(--color-hare));
}
.locked button {
  background: rgb(var(--color-swan));
  box-shadow: 0 5px 0 rgb(var(--color-black), 0.2),
    0 5px 0 rgb(var(--color-swan));
}
.locked button:hover {
  background: rgb(var(--color-swan));
}

@keyframes upAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.completed .text-container {
  background-color: rgb(var(--color-bee));
  color: rgb(var(--color-guinea-pig-always-light));
}

.completed .triangle-top {
  background-color: rgb(var(--color-bee));
  z-index: 3;
}
.completed .text-container button{
  background-color: rgb(var(--color-swan)) !important;
  color: rgb(var(--color-bee));
}
.completed button {
  background: rgb(var(--color-bee));
  box-shadow: 0 5px 0 rgb(var(--color-guinea-pig-always-light), 0.5),
    0 5px 0 rgb(var(--color-bee));
}
.completed button:hover {
  background: rgb(var(--color-bee), 0.8);
  color:rgb(var(--color-bee), 0.6);
}
.star-image.bg {
  translate: -4px -6px;
  width: 55px;
  height: 55px;
}

.top-stats-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .right-sidebar {
    display: none;
  }
  .top-stats-mobile {
    display: flex;
  }
  .content-container {
    margin-right: 0;
  }
}
.unit-placing-div {
  padding: 0 15px;
}
.sticky {
  position: sticky;
  width: 100%;
  background: rgb(var(--color-snow));
  top: 0;
  padding: 15px 15px 0 15px;
  z-index: 10;
  box-sizing: border-box;
}
.bottom-nav {
  display: none;
  width: 90% !important;
  bottom: 0;
}
@media (max-width: 650px) {
  .sidebar {
    display: none;
  }
  .content-container {
    padding: 0;
  }
  .scrollable-lesson-div {
    padding: 0;
    width: 100%;
  }
  .sticky {
    background: rgb(var(--color-peacock));
  }
  .section-name-header {
    border-bottom: none;
  }
  .section-name-header h2 {
    color: rgb(var(--color-snow));
  }
  .section-name-header img:nth-child(2) {
    display: none;
  }
  .main-container {
    padding-left: 0;
  }

  .button-in-sidebar:hover {
    background-color: rgb(var(--color-snow), 0.2);
  }

  .text-in-button {
    color: rgb(var(--color-snow));
  }

  .sidebar-buttons {
    position: sticky;
    bottom: 0;
    background-color: rgb(var(--color-snow));
    border-top: 2px solid rgb(var(--color-swan));
    padding: 15px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-name-header img:first-child {
    display: none;
  }
  .section-name-header img:nth-child(2) {
    display: block;
  }
  .icon-in-button {
    margin: 0px;
  }

  .bottom-nav {
    display: flex;
  }
}
/* Section List Styling =================================================== */
.section-container {
  background-color: rgb(var(--color-rookie));
  color: rgb(var(--color-snow-always-light));
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 0 24px;
  position: relative;
  margin: 15px;
  margin-bottom: 24px;
}
.locked-section {
  filter: grayscale(1);
}
.section-container .section-name {
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 15px;
  margin-top: 0;
  font-family: din-round-bold;
}
.status-badge {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.status-badge p {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 18px;
  font-family: din-round;
  margin: 0;
  opacity: 0.7;
  text-transform: uppercase;
}

.status-badge img {
  margin-right: 8px;
  opacity: 0.7;
  height: 16px;
}

.section-button {
  border-radius: 12px;
  align-self: end;
  justify-self: flex-start;
  margin-top: 24px;
  font-family: din-round-bold;
  text-transform: uppercase;
  padding: 0 16px;
  position: absolute;
  color: rgb(var(--color-rookie));
  background: rgb(var(--color-snow));
  border: 2px solid rgb(var(--color-snow));
  box-shadow: 0 2px 0 rgb(var(--color-snow), 0.5);
  bottom: 10%;
  height: 50px;
  letter-spacing: 0.8px;
}
.section-button:hover {
  filter: brightness(0.9);
}
.active-section-button{
  cursor: pointer;
}
.section-banner-image {
  height: 210px;
  pointer-events: none;
  width: 210px;
}
.middle-dev {
  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr;
  padding: 32px 0 28px;
}
section {
  margin-bottom: 48px;
  position: relative;
}

.animated-sprite-in-lesson-1{
  position: absolute;
  top:30%;
  right: 10%;
  height: 25%;
  aspect-ratio: 1/1;
}

.animated-sprite-in-lesson-2{
  position: absolute;
  top:66%;
  left: 0%;
  height: 25%;
  aspect-ratio: 1/1;
}
.greyd-sprite{
  filter: grayscale(1);
}
/* Loading Screen Animation */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-snow));
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-animation-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-animation-container span{
  line-height: 1.4;
  font-size: 19px;
  font-family: din-round;
  text-align: center;
  width:600px;
  color: rgb(var(--color-wolf));
  max-width: 80vw;
}
.lesson-loading-svg{
  width: 250px;
}