.password-div {
    position: relative;
}

.forgot{
    position: absolute;
    right: 5px;
    margin-top: 25px;
    transform: translateY(-50%);
    
    align-self:center;
    color: rgb(var(--color-hare));
    letter-spacing: .8px;
    margin-left: 2px;
    margin-right: 14px;
    font-family: 'din-round-bold';
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
}