.password-div {
    position: relative;
}

.forgot{
    position: absolute;
    right: 5px;
    margin-top: 25px;
    transform: translateY(-50%);
    
    align-self:center;
    color: rgb(var(--color-hare));
    letter-spacing: .8px;
    margin-left: 2px;
    margin-right: 14px;
    font-family: 'din-round-bold';
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
}

.create-account-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    background-color: rgb(var(--color-macaw));
    color: white;
    border-style: none;
    cursor: pointer;
}

.hidden{
    display: none!important;
}

/* Animation */
.loading-balls-container {
    display: flex;
    background-color: #1cb0f6;
    width: 100px;
    justify-content: space-around;
    padding: 10px;
  }
  .loading-balls-container .loading-ball {
    background-color: currentcolor;
    color: white;
    height: 8px;
    width: 8px;
  }
  .animation {
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-name: opacity-animation, scale-animation;
    animation-timing-function: ease-in-out;
  }
  .second-animation {
    animation-delay: 0.4s;
  }
  .third-animation {
    animation-delay: 0.8s;
  }
  .loading-ball {
    border-radius: 50%;
  }

  @keyframes scale-animation {
    0% {
      transform: scale(1);
    }
    33.3333% {
      transform: scale(0.8);
    }
    66.6667% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes opacity-animation {
    0% {
      opacity: 1;
    }
    33.3333% {
      opacity: 0.25;
    }
    66.6667% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }