body{
    font-family: 'din-round';
}

.signup-page-container{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.close-button-div {
    position: absolute;
    left: 30px;
    top: 30px;
    right: auto;
}

.login-button-div {
    position: absolute;
    right: 30px;
    top: 30px;
}

.login-button{
    background-color: var(--__internal__background-color);
    color: rgb(var(--color-macaw));
    border: 2px solid rgb(var(--color-swan));
}

.signup-section-main {
    margin-top: 0;
    width: 375px;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.create-profile-heading{
    margin: 10px 0 15px;
    font-size: 26px;
    font-weight: bolder;
}

.input-fields-div{
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.input-field{
    background: rgb(var(--color-polar));
    border: 2px solid rgb(var(--color-swan));
    border-radius: 12px;
    display: flex;
    box-sizing: border-box;
    color: var(--web-ui_input-color,rgb(var(--color-eel)));
    caret-color: rgb(var(--color-macaw));
    padding: 14px;
    font-size: 18px;
}

.input-field:focus {
    border: 2px solid #00dcfe;
}

.error-message{
    text-align: start;
    color: rgb(var(--color-fire-ant));
    display: flex;
}

.field-one{
    margin-top: 8px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
}

.age-privacy-div{
    text-align: start;
}

.age-privacy-span{
    font-weight: 100;
    color: rgb(var(--color-wolf));
}

.age-privacy-div a{
    color: rgb(var(--color-macaw));
    text-decoration: none;
}

.create-button{
    margin-top: 20px;
    width: 100%;
    background-color: var(--__internal__background-color);
    border-radius: 18px;
    border-style: none;
    padding: 14px;
    justify-content: center;
    background-color: rgb(var(--color-macaw));
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.terms-privacy-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 40px;
    color: rgb(var(--color-hare));
    font-size: 14px;
}

.terms-privacy{
    margin-bottom: 20px;
}

.terms-privacy a{
    color: rgb(var(--color-hare));
    font-weight: 700;
    text-decoration: none;
}

.split-line{
    margin-top: 50px;
    background: rgb(var(--color-swan));
    height: 2px;
}