body {
  background: radial-gradient(216% 106% at 6% 3%,
      rgb(var(--color-gamma), 0.3) 0,
      rgb(var(--color-starlight), 0.3) 52%,
      rgb(var(--color-quasar), 0.3) 100%),
    rgb(var(--color-eclipse));

    min-height: 100vh;
}

.gradient-div {
  padding: 1px;
  display: flex;
}

.div-close,
.div-super {
  padding: 24px;
  position: relative;
}

.div-main {
  flex: 2;
}

.div-super img {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 103px;
  transform: translateX(-10%);
}

.super-header-text {
  font-weight: 700;
  line-height: 1.25;
  margin: 24px 12px 0;
  text-align: center;
  color: rgb(var(--color-snow));
  font-family: "din-round-bold";
}

.div-for-two-line {
  align-items: center;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
}

.img-combination {
  position: relative;
}

.super-icon {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
}

.table-section {
  align-items: center;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
}

.table-glass-div {
  background-color: rgb(var(--color-snow-always-light), 0.1);
  border-radius: 16px;
  margin: 24px;
  max-width: 620px;
  padding: 24px 40px;
}

table {
  border-collapse: collapse;
  /* Collapse the borders between cells */
  border-spacing: 0;
  color: rgb(var(--color-snow));
  font-size: 19px;
}

th {
  font-family: "din-round-bold";
}

.table {
  position: relative;
}

.super-column-div {
  background-color: rgb(var(--color-snow-always-light), 0.2);
  border-radius: 16px;
  height: 105%;
  position: absolute;
  top: 0;
  transform: translateY(-10px);
  right: 0;
  width: 150px;
  z-index: -1;
}

.table th:last-child .table th,
td {
  padding: 12px 0 12px 8px;
  margin: 0px;
  min-width: 150px;
  font-family: "din-round";
}

.table td:not(:first-child) {
  text-align: center;
}

.table tr:not(:last-child) {
  border-bottom: 2px solid rgb(var(--color-snow-always-light), 0.2);
}

.button-section {
  align-items: center;
  display: flex;
  grid-column: 1/2;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
  margin-bottom: 24px;
}

.button-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 90%;
}

.button-div button {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-family: "din-round-bold";
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 16px;
  background-color: rgb(var(--color-snow));
  color: rgb(var(--color-eclipse));
  border: none;
  box-shadow: 0 4px 0 rgb(var(--color-snow-always-light), 0.6);
  transition: box-shadow translate 0.3s ease;
  cursor:pointer;
}

.clicked {
  box-shadow: none !important;
  translate: 0 3px;
}

/* Styles For RazorPay */

.razorpay-backdrop span{
  display: none;
}